build/*.js
src/views/cargo/v0/Administration
src/views/cargo/v0/Approval
src/views/cargo/v0/Configuration
src/views/cargo/v0/Exile
src/views/cargo/v0/Financial
src/views/cargo/v0/Information
src/views/cargo/v0/Management
src/views/cargo/v0/Notes
src/views/cargo/v0/OnlineBusiness
src/views/cargo/v0/SeaExport
src/views/cargo/v0/Statistic


//src/api
//src/lang
//src/router
//src/views/ovl
//src/views/airExport
//src/views/cargo/v0/OvlSeaSitManage
//src/views/cargo/v0/SeaProduct
//src/views/cargo/v0/SeaQuotationExport
//src/views/cargo/v0/OverseasWarehouse
//src/views/cargo/v0/ContainerManager
//src/views/cargo/v0/PackageWarehouse
//src/views/cargo/v0/SpaceManager
//src/views/cargo/v0/CharteredBoat
//src/components

src/views/example
src/views/svg-icons
src/views/table
src/views/permission
src/styles

src/assets
public
dist
