.link {
  color: #1890ff;
}

.section {
  background: #fff;
  margin-bottom: 20px;
  border-radius: 3px;

  .title {
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    font-size: 15px;
    overflow: hidden;
    border-bottom: 1px solid #dedede;
    padding-left: 20px;

    .title-item {
      height: 100%;
    }
    .m-icon {
      font-size: 26px;
      line-height: 26px;
      color: #1890ff;
      margin-right: 10px;
      float: left;
      margin-top: 10px;
    }

    .title-item-des {
      margin-right: 15px;
    }

    .currency-value-des {
      padding-right: 20px;

      .currency-value-item {
        margin-left: 10px;
      }
    }
  }

  ::v-deep .el-table--border th {
    background: #f5f7fa;
  }

  .section-content {
    font-size: 14px;
    padding: 20px;
  }
}

/*收款信息模块*/
.transactions-container {
  .claim-list {
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 15px;

    .claim-list-item {
      line-height: 32px;
      font-weight: 600;

      label {
        margin-right: 20px;
      }
    }

    .center {
      text-align: center;
    }

    .right {
      text-align: right;
    }
  }

  .remain-calc-container {
    overflow: hidden;
    clear: both;
    font-size: 14px;
    font-weight: 600;
    background: #f0f2f5;
    padding: 20px;
    border-radius: 5px;

    .amount-row {
      margin-bottom: 20px;

      .currency-value {
        text-align: right;

        .value {
          width: 120px;
          display: inline-block;
        }
      }
    }

    .remain-calc-row {
      padding-top: 20px;
      border-top: 1px dashed #dedede;
    }
  }
}

/*对冲-异币种对冲模块*/
.offset-container {
  .same-curreny {
    overflow: hidden;
    font-weight: 600;
    line-height: 50px;
    background: #f0f2f5;
    padding: 0 20px;
    border-radius: 5px;
    margin-bottom: 20px;

    .name {
      float: left;
    }

    .currency-value {
      float: right;
    }
  }

  .text-container {
    padding: 20px;
    font-weight: 600;
    font-size: 15px;
    background: #f0f2f5;
    border-radius: 5px;

    .amount-container {
      margin-bottom: 10px;

      .amount-row {
        padding: 8px 0;
      }

      .amount-total {
        text-align: right;
        padding: 18px 0;
        border-top: 1px dashed #ccc;
        border-bottom: 1px solid #ccc;
      }
    }

    .remain-row {
      padding: 20px 0;
    }

    .remain-border {
      border-top: 1px dashed #ccc;
    }

    .currency-value {
      text-align: center;

      .value {
        margin-right: 40px;
        width: 120px;
        display: inline-block;
        text-align: right;
      }

      .symbol {
        width: 40px;
        display: inline-block;
      }

      .input {
        width: 140px;
        display: inline-block;
      }
    }

    .calc-total {
      text-align: right;

      .symbol {
        float: left;
      }
    }

    .total-currency {
      text-align: right;
      padding-right: 20px;
    }
  }
}