@media screen and (max-width:1380px) {
  .page-edit-container {
    background: #f0f2f5;
    margin-bottom: 50px;

    .page-edit-content {
      padding: 20px;
    }

    .page-edit-footer {
      border-top: 1px solid #f0f2f5;
      position: fixed;
      left: 0px;
      right: 0px;
      height: 50px;
      line-height: 50px;
      z-index: 20;
      bottom: 0px;
      text-align: right;
      background: #fff;
      padding-right: 36px;
    }
  }

}

@media screen and (min-width:1381px) {
  .page-edit-container {
    background: #f0f2f5;
    margin-bottom: 50px;

    .page-edit-content {
      padding: 20px;
      width: 1200px;
    }

    .page-edit-footer {
      border-top: 1px solid #f0f2f5;
      position: fixed;
      left: 0px;
      right: 0px;
      height: 50px;
      line-height: 50px;
      z-index: 20;
      bottom: 0px;
      width: 1360px;
      text-align: right;
      background: #fff;
      padding-right: 36px;
    }
  }

  .page-edit-container.full-page {
    .page-edit-content {
      width: 100%;
    }

    .page-edit-footer {
      width: 100%
    }
  }
}

.link {
  color: #1890ff;
  cursor: pointer;
  margin-right: 3px;
}

.link.delete {
  color: rgba(255, 0, 0, 0.647058823529412);
  cursor: pointer;
}

.page-total {
  background: rgba(16, 142, 233, 0.1);
  color: #108ee9;
  font-family: "PingFangSC-Regular", "PingFang SC";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  min-height: 30px;
  line-height: 30px;
  padding: 5px 10px;
  height: auto;

  .page-total-item {
    display: inline-block;
  }

  .value-item {
    display: inline-block;
    margin-right: 30px;

    .value {
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.info-module {
  overflow: hidden;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;

  .title {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #f0f2f5;
    padding: 0 20px 0px 20px;
    height: 50px;
    line-height: 50px;
  }

  .content {
    padding: 20px;
    overflow: hidden;
  }

  .img {
    display: block !important;
    border: 1px dashed #ccc;
    border-radius: 6px;
    width: 300px;
    height: 180px;
    line-height: 180px;
    text-align: center;
    cursor: pointer;
    padding: 0;
    float: left;

    img {
      width: 100%;
      height: 100%;
      -o-object-fit: conver;
      object-fit: conver;
    }
  }

  .item {
    width: 50%;
    float: left;
    margin-bottom: 15px;
    display: flex;

    label {
      width: 100px;
      min-width: 100px;
      display: block;
      text-align: right;
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 14px;
      float: left;
      margin-right: 6px;
    }

    span {
      font-weight: 500;
      font-size: 14px;
      display: inline;
      flex: 1;
    }
  }

  .item.full-line {
    width: 100%;
  }
}


// FOR
.info-section-module {
  overflow: hidden;
  padding-bottom: 20px;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 14px;

  .info-title {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #f0f2f5;
    margin-bottom: 15px;
    height: 52px;
    line-height: 52px;
    padding: 0 20px;
  }

  .info-content {
    padding: 0 25px;
    width: 100%;

    // 解决
    .el-form-item__content {
      font-size: 13px;
    }
  }

  .info-img {
    display: block !important;
    border: 1px dashed #ccc;
    border-radius: 6px;
    width: 300px;
    height: 180px;
    line-height: 180px;
    text-align: center;
    cursor: pointer;
    padding: 0;
    float: left;

    img {
      width: 100%;
      height: 100%;
      -o-object-fit: conver;
      object-fit: conver;
    }
  }

  .info-item.full-line {
    width: 100%;
  }

  .info-item {
    width: 50%;
    float: left;
    margin-bottom: 20px;
    display: flex;

    .info-label {
      width: 110px;
      min-width: 110px;
      display: block;
      text-align: right;
      font-weight: 500;
      font-size: 14px;
      float: left;
      margin-right: 6px;
    }

    .info-span {
      font-weight: 500;
      font-size: 14px;
      display: inline;
      flex: 1;
    }
  }
}

.yht-form {
  overflow: hidden;
}
.yht-form .el-form-item {
  width: 50%;
  float: left;
}
.yht-form .el-form-item.full-line {
  width: 100%;
}

.yht-table.el-table--border th {
  background-color: #f5f7f7;
}

.yht-aggird-table.el-table tr:nth-child(odd) {
  background-color: #fffffd;
}

.yht-aggird-table.el-table tr:nth-child(even) {
  background-color: #f3f4f9;
}
.yht-table.el-table--mini th {
  padding: 6px 0;
}
.yht-table.el-table--mini td {
  padding: 6px 0;
}