.info-label {
  display: inline-block;
  vertical-align: top;
}
.info-content {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  word-break: break-all;
}
.info-content-tooltip{
  display: inline-block;
  vertical-align: top;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}